.container {
    border: 1px solid #ccc;
    width: 50%;
    padding: 1rem;
    margin: 0.5rem auto;
    text-align: center;
    background-color: #111;
    color: #eee;
}

.taskRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.taskLabel {
    flex: 1;
}
